@import "../variables";

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: var(--background-color);
}

.main {
  width: 100%;
  max-width: 80rem;

  display: flex;
  gap: 3rem;

  margin: auto;
  padding: 10rem 2rem;

  position: relative;
  z-index: 2;

  background: transparent;

  @media (max-width: $break-width) {
    flex-direction: column;
  }
}


.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  min-width: 30rem;

  color: var(--text-color);

  > * {
    width: 100%;
  }

  > p {
    font-size: 1.2rem;
    text-align: justify;
  }

  > h1 {
    font-size: 2rem;
  }

  @media (max-width: $break-width) {
    min-width: revert;
  }
}
