.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 80rem;

  display: flex;
  gap: 3rem;

  margin: auto;
  padding: 10rem 2rem 2rem 2rem;

  position: relative;
  z-index: 2;

  background: transparent;
}

@media (max-width: 55rem) {
  .main {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  min-width: 30rem;

  color: #fefefe;

  > * {
    width: 100%;
  }

  > p {
    font-size: 1.2rem;
  }

  > h1 {
    font-size: 2rem;
  }
}