@import "../variables.scss";

.container {
  display: flex;
  gap: 2rem;

  justify-content: flex-end;

  a {
    cursor: pointer;
    color: $text-color;
  }

  a:hover {
    filter: brightness(0.8);
  }
}
