$arrow-size: 0.8rem;
$popover-height: 10rem;

.container {
  position: relative;
}

.arrow {
  width: $arrow-size;
  height: $arrow-size;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-top: $arrow-size solid var(--background-color);

  position: absolute;
  top: 100%;
  left: calc(50% - $arrow-size);
  background: transparent;

  cursor: pointer;

  &::before {
    position: absolute;
    top: -$arrow-size;
    left: -2.2rem;
    width: $arrow-size;
    height: $arrow-size;
    content: ' ';
    padding: 1.8rem;
    cursor: pointer;
  }
}

.popover {
  position: absolute;
  bottom: calc(100% + 1.5rem);
  left: calc(-14.5rem + 50%);
  transform-origin: bottom;
  transition: transform 100ms;
  background: var(--background-color);
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 6.25px 10px 0 rgba(0, 0, 0, 0.3);

  height: 0;
  max-height: 0;
  width: 0;
  opacity: 0;
  transform: scaleY(0);
  overflow-y: hidden;
}

.open {
  height: initial;
  max-height: initial;
  width: 29rem;
  opacity: 1;
  transform: scaleY(1);
  overflow-y: initial;
}

.content {
  width: 29rem;
  margin: 1.5rem;
  display: flex;
  gap: 1.2rem;
  overflow-x: hidden;
  overflow-y: visible;
  z-index: 2;

  > img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    z-index: 3;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  flex: 1;
  z-index: 2;
}

.info > * {
  text-overflow: clip;
  min-width: 15rem;
}

.info footer {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.info header {
  display: flex;
  flex-direction: column;

  > p::before {
    content: '~';
    margin-right: 0.1rem;
  }

  > p {
    display: flex;
    gap: 0.5rem;
    font-style: italic;
    font-size: 0.9rem;
    color: var(--text-color);
  }

  > p a {
    display: flex;
    gap: 0.5rem;
  }

  > h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
  }
}

.content main {
  & img {
    width: 2.5rem;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.readMore {
  color: var(--text-color);
  font-weight: bold;
  transition: 300ms;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    filter: opacity(0.8);
  }
}
