@import "Popover.module";

.content > img {
  background: #fefefe;
  padding: 0.5rem;
}

.info footer {
  justify-content: flex-start;
}

.info header {
  gap: 0.5rem;
}

.commonNames {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.1rem;
  column-gap: 0.3rem;

  & li {
    color: #fefefe;
    background: #ff8833;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
  }
}

.classes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.1rem;
  column-gap: 0.3rem;

  & li {
    color: #fefefe;
    background: #4e33ff;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
  }
}

.roas {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.1rem;
  column-gap: 0.3rem;

  & li {
    color: #fefefe;
    background: #ff3388;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
  }
}
