@import "../variables";

$profile-image-size: 21.25rem;
$radius: 1.8rem;

.container {
  display: flex;
  flex-direction: column;
  flex-grow: revert;
  min-width: $profile-image-size;
}

.profile {
  max-width: $profile-image-size;
  max-height: $profile-image-size;

  min-width: $profile-image-size - 0.625rem;
  min-height: $profile-image-size - 0.625rem;

  > img {
    width: 100%;
    height: 100%;
    border-radius: $radius;

    @media (prefers-color-scheme: light) {
      border: 1.2px solid var(--light-mode-border);
    }
  }

  @media (max-width: $mobile-width) {
    min-width: 2.5rem;
    min-height: 2.5rem;
    max-width: 100%;
    max-height: 100%;
  }
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: $break-width) {
    width: 100%;
    flex-direction: row;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}
