.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: flex-end;

  & a {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-color);
    transition: 300ms;
  }

  & a:hover {
    filter: opacity(0.8);
  }
}
