@import "Popover.module";

.info {
  --text-color: #fefefe!important;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: calc(100% + $arrow-size);
  z-index: -1;
  border-radius: 1rem;
}
