$arrow-size: 0.8rem;

.container {
  position: relative;
}

.wrapper {

}

.arrow {
  width: $arrow-size;
  height: $arrow-size;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-top: $arrow-size solid var(--background-color);

  position: absolute;
  margin: auto;
  top: 100%;
  background: transparent;

  display: flex;
  justify-content: center;

  &::before {
    position: absolute;
    margin: auto;
    top: -$arrow-size;
    width: $arrow-size;
    height: $arrow-size;
    content: ' ';
    padding: 1.8rem;
  }
}

.popover {
  position: absolute;
  bottom: calc(100% + 1.5rem);
  left: calc(-14.5rem + 50%);
  width: 29rem;
  background: var(--background-color);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;

  box-shadow: 0 6.25px 10px 0 rgba(0, 0, 0, 0.3);

  > img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info footer {
  display: flex;
  justify-content: flex-end;
}

.info header {
  display: flex;
  flex-direction: column;

  > p::before {
    content: '~';
    margin-right: 0.1rem;
  }

  > p {
    display: flex;
    gap: 0.5rem;
    font-style: italic;
    font-size: 0.9rem;
  }

  > p a {
    display: flex;
    gap: 0.5rem;
  }

  > h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
  }
}

.readMore {
  color: var(--text-color);
  font-weight: bold;
  padding: 0.5rem 0;
  transition: 300ms;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    filter: opacity(0.8);
  }
}
